header{
    background-color: rgb(91, 230, 73);
    height: auto;
    width:100%;
    color: white;
    text-align: left;
    padding-top: 6px 15px;
    font-size: 19px;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
body{
    background-color: azure;
}
#leftheader{
    text-align: left;
    padding-top:25px;
    padding-left: 10px;
}
#rightheader{
    float: right;
    padding-right: 45px;
}
button{
    padding:7px 14px; 
    color:inherit;
    background-color: inherit;
    border-color: white;  
}
Form{
    text-align: center;
    padding:30px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(240, 241, 169, 0.801);
    width:auto;
    height:900px;
    font-size: 21px;
    margin: 100px 150px;
}
input[type = text],input[type = "number"],textarea{
    font-size: 17px;
    width: 250px;
    border-radius: 5px;
}
input[type = "radio"]{
    align-self: left ;
}